    </article>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <script>
        $(document).ready(function (e) {
            $(".nav-link").click(function () {
                if ($(this).hasClass("active")) {
                    return;
                }

                $(".nav-link").removeClass("active");
                $(this).addClass("active");

                var htmlLoading = "../resources/views/" + $(this).attr("id");
                $("#loadContent").empty();
                $("#loadContent").load(htmlLoading);

                if ($(this).attr("id") == "save_cookie.html") {
                    $.ajax({
                        url : '../routes/ajax_main.php',
                        type : 'post',
                        data: {
                            getCookie: 1,
                        },
                        dataType : 'text',
                        success : function (result) {
                            if (result) {
                                $("input[type=radio][id=" + result + "]").prop("checked", true);
                                $('#showImage').attr('src', '../resources/images/' + result + '.jpg');
                                if ($("#showImage").is(":hidden")) {
                                    $("#showImage").show();
                                }
                            } else {
                                $("input[type=radio][name=food]").prop('checked', false);
                                $("#showImage").hide();
                            }
                        }
                    });
                }
            });
        });
    </script>

    <footer>
    </footer>
</body>
</html>
